@import "tailwindcss";

@theme {
  --color-light-yellow: rgb(255 249 212);
}

body {
  @apply bg-light-yellow text-gray-900;
  caret-color: transparent;
}

@layer base {
  a {
    color: #1949C7;
  }
  footer a {
    color: #DCDBFF;
  }
  header a {
    @apply text-white;
  }

  a:hover {
    @apply text-blue-700;
    text-decoration: underline;
  }
  header a:hover {
    @apply text-white;
  }
  footer a:hover {
    color: #B3B2FF;
  }
}